<vf-stepper>
    <vf-step>
        <span *vfStepLabel>Step 1</span>
        <div *vfStepContent>
            <p>Step 1 content</p>
            <button md-raised-button color="primary" md-button vfStepperNext>next</button>
        </div>
    </vf-step>
    <vf-step>
        <span *vfStepLabel>Step 2</span>
        <div *vfStepContent>
            <p>Step 2 content</p>
            <button md-button vfStepperPrevious>prev</button>
            <button md-raised-button color="primary" vfStepperNext>next</button>
        </div>
    </vf-step>
    <vf-step>
        <span *vfStepLabel>Step 3</span>
        <div *vfStepContent>
            <p>Step 3 content</p>
            <button md-button vfStepperPrevious>prev</button>
        </div>
    </vf-step>
</vf-stepper>
